*.resS filter=lfs diff=lfs merge=lfs -text
InterTheDungeon_Data/resources.assets.resS filter=lfs diff=lfs merge=lfs -text
InterTheDungeon_Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
